body * {
    font-family: 'Microsoft JhengHei';
    font-weight: bold;
    text-decoration: none;
}

header{
    width: 100%;
    height: 75px;
    background-color: white;
    position: fixed;
    opacity: 95%;

    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px;
        position: relative;


        .logo{
            font-size: 20px;
        }

        .select{
            display: flex;

            a{
                display: block;
                padding: 25px 40px;
                &:after{
                    content: '';
                    width: 100%;
                    height: 4px;
                    display: none;
                    margin-top: 10px;
                    background-color: black;
                }
            }
            .underline{
                a::after{
                    content: '';
                    display: block;
                }
            }
        }
        .language{
            display: flex;
            .drop-down-menu{
                display: none;
                width: 70px;
                text-align: center;
                border: 1px solid black; 
                background-color: white;
                color: rgb(100, 100, 100);
                position: absolute;
                top: 60px;
                li{
                    margin: 15px;
                }
            }
        }
    }
}

.background{
        .bg{
            width: 100%;
            // filter:contrast(50%);
        }
        .text{
            position: absolute;
            top: 0;
            margin: 370px 140px;
            color: white;
            h1{
                font-size: 140px;
                white-space: nowrap;

            }
            h3{
                font-size: 38px;
                margin: 30px 10px 60px;
            }
            img{
                padding: 11px;
            }
            p{
                display: inline;
            }
            .buttons{
                margin: 20px;
                a{
                    font-size: 24px;
                    width: 24px;
                    height: 24px;
                    padding: 18px;
                    border: 1px solid white;
                    border-radius: 2px;
                }
            }
        }
}

.title{
    text-align: center;
    h2{
        font-size: 72px;
        margin: 40px;
    }
    h3{
        color: rgb(100, 100, 100);
        font-size: 20px;
    }
}


.footer{
    flex-direction: row;
    width: 1300px;
    font-size: 12px;
    margin: auto;
    text-align: left;
    padding:  30px;
    justify-content: center;
    p{
        display: inline;
        padding: 0px 40px;
    }
    a{
        display: inline;
    }
    a+a::before{
        content: '|';
        padding: 0px 10px;
    }
}

#menu-control{ display: none; }
#menu-control:checked ~ .language {
    .drop-down-menu{
        display: block;
        // border: springgreen 2px solid;
    }

}

@media screen and (max-width:860px) {
    header{
        color: white;
        background-color: rgba(255, 255, 255, 0);
        nav{
            .select{
                display: none;
            }
        }
    }
    .background{
        .text{
            margin: 260px 20px;
            h1{
                font-size: 48px;
            }
            h3{
                font-size: 16px;
                margin: 10px 0px;

            }
        }
    }

}